<%= form_for(house) do |f| %>
  <% if house.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(house.errors.count, "error") %> prohibited this house from being saved:</h2>

      <ul>
      <% house.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "物件名" %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label "賃料" %>
    <%= f.number_field :hire %>円
  </div>

  <div class="field">
    <%= f.label "住所" %>
    <%= f.text_field :address %>
  </div>

  <div class="field">
    <%= f.label "築年数" %>
    <%= f.number_field :age %>年
  </div>

  <div class="field">
    <%= f.label "備考" %>
    <%= f.text_area :remaks %>
  </div>

  <hr>
  <% i = 1%>
  <%= f.fields_for :nearest_stations do |station|%>
    <h4>最寄り駅<%= i %></h4>
    <div class="field">
      <%= station.label :route_name %>
      <%= station.text_field :route_name %>
    </div>

    <div class="field">
      <%= station.label :station_name %>
      <%= station.text_field :station_name %>
    </div>

    <div class="field">
      <%= station.label :minute_walk %>
      <%= station.text_field :minute_walk %>分
    </div>
    <% i+=1%>
  <% end %>

  <div class="actions">
    <%= f.submit submit %>
  </div>

<% end %>
