<%= form_for(house) do |f| %>
  <% if house.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(house.errors.count, "error") %> prohibited this house from being saved:</h2>

      <ul>
      <% house.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :hire %>
    <%= f.number_field :hire %>
  </div>

  <div class="field">
    <%= f.label :age %>
    <%= f.number_field :age %>
  </div>

  <div class="field">
    <%= f.label :remaks %>
    <%= f.text_area :remaks %>
  </div>

  <hr>

  <%= f.fields_for :nearest_stations do |station|%>

    <div class="field">
      <%= station.label :route_name %>
      <%= station.text_field :route_name %>
    </div>

    <div class="field">
      <%= station.label :station_name %>
      <%= station.text_field :station_name %>
    </div>

    <div class="field">
      <%= station.label :minute_walk %>
      <%= station.text_field :minute_walk %>
    </div>

  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
